/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 23, ../sass/_susy.scss */
.container {
  *zoom: 1;
  max-width: 936px;
  _width: 936px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, C:/Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 29, ../sass/_susy.scss */
.span-1, .span-2, .span-3, .span-4, .span-5, .span-6,
.span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 30, ../sass/_susy.scss */
.span-1.important-last, .span-2.important-last, .span-3.important-last, .span-4.important-last, .span-5.important-last, .span-6.important-last,
.span-7.important-last, .span-8.important-last, .span-9.important-last, .span-10.important-last, .span-11.important-last, .span-12.important-last {
  margin-right: 0 !important;
}

/* line 35, ../sass/_susy.scss */
.span-1 {
  width: 8.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 36, ../sass/_susy.scss */
.span-2 {
  width: 16.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 37, ../sass/_susy.scss */
.span-3 {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 38, ../sass/_susy.scss */
.span-4 {
  width: 33.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 39, ../sass/_susy.scss */
.span-5 {
  width: 41.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 40, ../sass/_susy.scss */
.span-6 {
  width: 50%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 41, ../sass/_susy.scss */
.span-7 {
  width: 58.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 42, ../sass/_susy.scss */
.span-8 {
  width: 66.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 43, ../sass/_susy.scss */
.span-9 {
  width: 75%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 44, ../sass/_susy.scss */
.span-10 {
  width: 83.33333%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 45, ../sass/_susy.scss */
.span-11 {
  width: 91.66667%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 46, ../sass/_susy.scss */
.span-12 {
  width: 100%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 48, ../sass/_susy.scss */
.span-3-8 {
  width: 37.5%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 49, ../sass/_susy.scss */
.span-6-8 {
  width: 75%;
  float: left;
  margin-right: 0%;
  display: inline;
}

/* line 52, ../sass/_susy.scss */
.offset-1 {
  margin-left: 8.33333%;
}

/* line 53, ../sass/_susy.scss */
.offset-2 {
  margin-left: 16.66667%;
}

/* line 54, ../sass/_susy.scss */
.offset-3 {
  margin-left: 25%;
}

/* line 55, ../sass/_susy.scss */
.offset-4 {
  margin-left: 33.33333%;
}

/* line 56, ../sass/_susy.scss */
.offset-5 {
  margin-left: 41.66667%;
}

/* line 57, ../sass/_susy.scss */
.offset-6 {
  margin-left: 50%;
}

/* line 58, ../sass/_susy.scss */
.offset-7 {
  margin-left: 58.33333%;
}

/* line 59, ../sass/_susy.scss */
.offset-8 {
  margin-left: 66.66667%;
}

/* line 60, ../sass/_susy.scss */
.offset-9 {
  margin-left: 75%;
}

/* line 61, ../sass/_susy.scss */
.offset-10 {
  margin-left: 83.33333%;
}

/* line 62, ../sass/_susy.scss */
.offset-11 {
  margin-left: 91.66667%;
}

@media only screen and (min-width: 768px) {
  /* line 65, ../sass/_susy.scss */
  .hide-on-small {
    display: initial;
  }

  /* line 66, ../sass/_susy.scss */
  .show-on-small {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  /* line 69, ../sass/_susy.scss */
  .hide-on-medium {
    display: none;
  }

  /* line 70, ../sass/_susy.scss */
  .show-on-small {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 73, ../sass/_susy.scss */
  .hide-on-small {
    display: none;
  }

  /* line 74, ../sass/_susy.scss */
  .show-on-small {
    display: initial;
  }
}
/* line 9, ../sass/screen.scss */
.gallery {
  width: 100%;
  overflow: hidden;
}
/* line 13, ../sass/screen.scss */
.gallery .element-item a {
  display: block;
}
/* line 15, ../sass/screen.scss */
.gallery .element-item a img {
  max-width: 100%;
}
@media only screen and (max-width: 980px) {
  /* line 12, ../sass/screen.scss */
  .gallery .element-item {
    width: 33.33333%;
    float: left;
    margin-right: 0%;
    display: inline;
  }
}
@media only screen and (max-width: 570px) {
  /* line 12, ../sass/screen.scss */
  .gallery .element-item {
    width: 50%;
    float: left;
    margin-right: 0%;
    display: inline;
  }
}
@media only screen and (max-width: 420px) {
  /* line 12, ../sass/screen.scss */
  .gallery .element-item {
    width: 100%;
    float: left;
    margin-right: 0%;
    display: inline;
  }
}
/* line 28, ../sass/screen.scss */
.gallery .element-item.landscape {
  width: 50%;
  float: left;
  margin-right: 0%;
  display: inline;
}
